.dark-theme{
    background-color: #2d3436;
    color: #dfe6e9;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.light-theme{
    background-color: #dfe6e9;
    color: #2d3436;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.card{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: end;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.card p{
    text-align: start;
}

.txtInput{
    height: 70px;
}

.btns{
    margin: auto;
    width: 90%;
    text-align: center;
}

.btn{
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 5px;
    width: 40px;
    border: 1px solid transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    align-items: center;
}

.btn:hover{
    cursor: pointer;
}

.footer{
    text-align: center;
    margin-top: 20px;
}

.footer a{
    text-decoration: none;
    color: inherit;
}